<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз Погоды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-page-container">
        <img src="{{ url_for('static', filename='images/sun_cloud.png') }}" alt="Солнце и облака">
        <form action="/weather" method="post">
            <input type="text" name="city" placeholder="Введите название города" required>
            <button type="submit" class="blue-btn">Подтвердить</button>
        </form>
    </div>
</body>
</html>