<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода в {{ city }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <img src="{{ url_for('static', filename='images/sun_cloud.png') }}" alt="Sun" class="sun-icon">
        <div class="weather-container">
            <p><strong>Город:</strong> {{ city }}</p>
            <p><strong>Температура:</strong> {{ temperature }}°C</p>
            <p><strong>Описание:</strong> {{ description }}</p>
            <p><strong>Ветер:</strong> {{ wind_speed }} м/с</p>
            <p><strong>Влажность:</strong> {{ humidity }}%</p>
            <p><strong>Давление:</strong> {{ pressure }} hPa</p>
        </div>

        <div class="weather-buttons">
            <form action="/clear_history" method="post">
                <button type="submit" class="clear-history-btn">Очистить историю</button>
            </form>
            <a href="/" class="blue-btn">Назад</a>
        </div>
    </div>
</body>
</html>
